<p>
  <mat-toolbar></mat-toolbar>
</p>
<div class="container">
  <img src="assets/eden_of_the_east_icon.jpg">
</div>
<div class="search-field">
    <form>
      <mat-form-field appearance="outline">
        <mat-label>Query</mat-label>
        <input matInput name="query" [(ngModel)] = "query">
      </mat-form-field><br>
      <button type="submit" mat-stroked-button (click)="onWebSearchClick()">Web Search</button>
      <button type="submit" mat-stroked-button (click)="onImgSearchClick()">Image Search</button>
    </form>
</div>
<div class="web-search-results" [hidden]="web">
    <div class="result" *ngFor="let result of web_results">
        <b>{{result.title}}</b><br>
        <a href="{{result.url}}">{{result.url}}</a>
    </div><br><br>
</div>
<div class="img-search-results" [hidden]="img">
  <div class="result" *ngFor="let result of img_results">
      <div><img src="{{result.url}}" style="height: 500px; width:500;"></div>
  </div><br><br>
</div>
<!-- <div class="footer">
    Made by Yojit Shinde
</div> -->